Repository Global-Chem/global-chem, pull requests merged in 2024-03, with the labels that each got.

#257 SS-152: added the hot fix for checking ipython
  global_chem/global_chem/food/fruits/mango/mango_amino_acids.py
  global_chem/global_chem/food/fruits/mango/mango_fatty_acids.py
  global_chem/global_chem/food/fruits/mango/mango_flavonoids.py
  global_chem/global_chem/food/fruits/mango/mango_phenolic_acids.py
  global_chem/global_chem/food/fruits/mango/mango_phytocompounds.py
  global_chem/global_chem/food/fruits/mango/mango_vitamins.py
  global_chem/global_chem/global_chem.py
  global_chem/setup.py
Labels: bug, good first issue, fire, devops

#108 BL-1: Add named reactions
  global_chem/global_chem/organic_synthesis/named_reactions_in_organic_synthesis/named_reactions_in_organic_synthesis.py
Labels: production, smiles, organic-synthesis, reactions, Stale

#229 PCA-dashboard
  .github/workflows/discord_pca_analysis.yml
  bot_services/principal_component_analysis.py
  pca-dash/.eslintrc.json
  pca-dash/.gitignore
  pca-dash/README.md
  pca-dash/jsconfig.json
  pca-dash/next.config.js
  pca-dash/package-lock.json
  pca-dash/package.json
  pca-dash/postcss.config.js
  pca-dash/public/favicon.ico
  pca-dash/public/globalchemlogo.png
  pca-dash/public/next.svg
  pca-dash/public/thirteen.svg
  pca-dash/public/vercel.svg
  pca-dash/src/pages/_app.js
  pca-dash/src/pages/_document.js
  pca-dash/src/pages/api/pca.js
  pca-dash/src/pages/index.js
  pca-dash/src/styles/globals.css
  pca-dash/tailwind.config.js
Labels: cheminformatics, principal_component_analysis
